/* mystyles.css for mystyles.html
A few styles to illustrate the structure and formatting 
of a CSS style file
*/

/* Styles that apply to every element in the body, unless overriden */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large; /* h3 */
    color: #000; /* = 000000 ~ black*/
    background-color: #FF0; /* = FFFF00 ~ yellow */
}

h1 { color: #00F;} /* this would override the body font color style above */

/* styles any list in an unordered list */
ul li {
    font-size: medium; /* overrides body text font size above */
    font-style: italic; /* adds italic style to text of list items */
}